'use client';

// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { ApolloProvider as Provider } from '@apollo/client';
import { apolloClient } from '<%= projectImportPath %>lib/apollo-client';

export function ApolloProvider({ children }: { children: React.ReactNode }) {
  return <Provider client={apolloClient}>{children}</Provider>;
}
