'use client';

// @ts-expect-error -- @apollo/client v3; types may not resolve with bundler mode in TS6
import { ApolloProvider as Provider } from '@apollo/client';
import { apolloClient } from '<%= projectImportPath %>lib/apollo-client';

export function ApolloProvider({ children }: { children: React.ReactNode }) {
  return <Provider client={apolloClient}>{children}</Provider>;
}
