
import { Provider as ReduxSagaProvider } from 'react-redux';
import { store } from '<%= projectImportPath %>store';

appProviders.push((children) => <ReduxSagaProvider store={store}>{children}</ReduxSagaProvider>);
