'use client';

import { composeAppProviders } from '<%= projectImportPath %>app-providers';

export function Providers({ children }: Readonly<{ children: React.ReactNode }>) {
  return composeAppProviders(children);
}
