'use client';

import type { ReactNode } from 'react';

import { composeAppProviders } from '<%= projectImportPath %>app-providers';

export function Providers({ children }: Readonly<{ children: ReactNode }>) {
  return composeAppProviders(children);
}
