/* eslint-disable */
// @ts-nocheck
import { render } from '@testing-library/react';
import { describe, expect, it } from 'vitest';

import Landing from '<%= projectImportPath %>pages/Landing';

describe('Landing', () => {
  it('renders the project title', () => {
    const { getByRole } = render(<Landing />);

    expect(getByRole('heading', { level: 1, name: '<%= projectName %>' })).toBeInTheDocument();
  });
});
