/** PostCSS Config (templated, shadcn) */
// eslint-disable-next-line @typescript-eslint/no-require-imports
module.exports = {
  plugins: [
    require('tailwindcss'),
    require('autoprefixer'),
  ],
};
