import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: './<%= srcDir %>/db/schema/index.ts',
  out: './<%= srcDir %>/db/migrations',
  dialect: 'turso',
  dbCredentials: {
    url: process.env.TURSO_DATABASE_URL!,
    authToken: process.env.TURSO_AUTH_TOKEN,
  },
  verbose: true,
  strict: true,
});
