# WorkOS AuthKit
WORKOS_API_KEY=sk_your_api_key
WORKOS_CLIENT_ID=client_your_client_id
WORKOS_COOKIE_PASSWORD=<generate 32+ char secret>
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback
