
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { Provider as ReduxThunkProvider } from 'react-redux';
import { store as reduxThunkStore } from '<%= projectImportPath %>store';

appProviders.push((children) => (
  <ReduxThunkProvider store={reduxThunkStore}>{children}</ReduxThunkProvider>
));
